// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    margin: 0;
    padding: 0;
}


.back-image{
    justify-content: center;
}

.main-container{
    text-align: center;
}

.main-container p{
    text-align: center;
}

.image-container{
    padding: auto;
}


