<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<!-- おみくじをひくリンクと画像を含むセクション -->
<div class="main-container">
  <p>あなたにおすすめの話題を占ってみよう！</p>
    <div class="image-container">
    <%= image_tag 'image5.png', class:"back-image" %>
    <%= link_to "おみくじをひく", omikuzis_index_path %>
    </div>
</div>

</body>
</html>